@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './colors.scss';
@import './fonts.scss';
@import './mixins.scss';

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: $font;
    background: transparent;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

.nav{
    background-color: $lighter-gray;
    
    .menu{
        @include flex(center, center, 10px);

        &__ithem{
            padding: 17px 10px;
            font-weight: $regular;
        }
    }
}

.nav2{
    background-color: $white;
    border-top: 1px solid $lighter-gray;

    .menu2{
        @include flex(center, center, 10px);

        &__ithem2{
            padding: 30px 15px;
            font-weight: $regular;
        }
    }
}

.callback{
    @include flex(center, space-around, none);
    padding: 20px 0;

    .logo{
        @include flex(center, center, 20px);

        &__text{
            text-transform: uppercase;
            color: $accent;
            @include Roboto(36px, $bold, 3.6px);
        }
    }

    .cta{
        @include flex(center, center, 40px);

        &__link{
            @include Roboto(16px, $regular, none);
            color: $dark;
        }

        &__btn{
            font-weight: $regular;
            color: $dark;
            border-radius: 40px;
            border: 2px solid;
            border-radius: 40px;
            padding: 8px 50px;
            border-color: $accent;
            background-color: $white;
        }
    }
}

.special{
    background-color: $lighter-gray;
    padding: 80px 0;
    width: 100%;

    .container{
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .goods{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &__title{
                background-color: $lighter-gray;
                font-weight: $bold;
                font-size: 24px;
                padding-bottom: 38px;
                align-self: center;
                width: 80%;
            }

            .goods-list{
                @include flex(center, center, 30px);
                width: 80%;

                &__item{
                    @include flex(center, center, 20px);
                    flex-direction: column;
                    padding: 25px;
                    background-color: $white;

                    img{
                        width: 125px;
                    }

                    .name{
                        @include Roboto(none, $regular, 140%);
                        text-align: center;
                        width: 80%;
                        color: $dark-gray;
                    }
                    
                    .price{
                        @include Roboto(21px, $medium, none);
                        letter-spacing: 1.05px;
                        color: $dark;
                        text-align: center;
                    }

                    .btn{
                        border-radius: 30px;
                        background-color: $accent;
                        color: $white;
                        font-weight: $regular;
                        letter-spacing: 0.7px;
                        padding: 9px 53px;
                    }
                }
            }
        }
    }
}

.promo{
    @include flex(stretch, center, 30px);
    width: 90%; 
    margin: 100px 0; 

    .card{
        @include flex(center, none, 22px);
        background-color: $accent;
        padding: 35px 40px;

        &__content{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__name{
            color: $white;
            font-weight: $bold;
            font-size: 18px;
        }

        &__text{
            @include Roboto(none, $regular, 155%);
            color: $white;
            width: 60%;
        }

        &__input{
            font-weight: $regular;
            width: 220px;
            padding: 9px 0 9px 25px;
            color: $dark;
            background-color: $white;
            border-radius: 30px;

            &::placeholder{
                color: $lighter-gray;
            }
        }

        &__btn{
            color: $white;
            font-weight: $regular;
            color: $white;
            border: 2px solid $white;
            border-radius: 30px;
            padding: 9px 53px
        }

        &__img{
            max-width: 189px;
        }
    }
}

.brands{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;

    .brands-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include flex(none, center, 1px);

        &__item{
            background-color: $white;
            padding: 35px 60px;
        }
    }
}

.sale{
    background-image: url('../images/Rectangle\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 440px;

    &__content{
        display: flex;
        flex-direction: column;
        padding-left: 250px;
        padding-top: 130px;
        @include flex(flex-start, none, 30px);
    }

    &__title{
        font-size: 45px;
        font-weight: $bold;
        color: $white;
    }

    &__text{
        color: $white;
        font-weight: $regular;
        width: 23%;
    }

    &__btn{
        color: $white;
        font-weight: $regular;
        color: $white;
        border: 2px solid $white;
        border-radius: 30px;
        padding: 9px 65px;
    }
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0;
    gap: 30px;
    border-bottom: 1px solid $lighter-gray;

    &__popular{
        width: 16.5%;

        .categories-list{
            padding-top: 20px;
            color: var(--gray);
            line-height: 25px;
        }
    }

    &__title{
        border-bottom: 1px solid $lighter-gray;
        padding-bottom: 20px;
        font-weight: $medium;
        font-size: 16px;
        line-height: 22px;
    }
}

.line{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    gap: 180px;

    &__cta{
        @include flex(center, center, 40px);
    }

    &__link{
        @include Roboto(16px, $regular, none);
        color: $dark;
    }

    &__btn{
        font-weight: $regular;
        color: $dark;
        border-radius: 40px;
        border: 2px solid;
        border-radius: 40px;
        padding: 8px 50px;
        border-color: $accent;
        background-color: $white;
    }

}

.inf{
    background-color: $lighter-gray;
    display: flex;
    justify-content: space-around;
    padding: 22px 0;
    color: $gray;
    gap: 100px;
}
